{% extends 'base.html.twig' %}

{% block body %}
    <h1>Item list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Itemname</th>
                <th>Itemweight</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td><a href="{{ path('item_show', { 'id': item.id }) }}">{{ item.id }}</a></td>
                <td>{{ item.itemName }}</td>
                <td>{{ item.itemWeight }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('item_show', { 'id': item.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('item_edit', { 'id': item.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('item_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
